In [2]:
import pandas as pd
import numpy as np
from fbprophet import Prophet

In [3]:
df = pd.read_csv('apple.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2017-02-27,137.139999,137.440002,136.279999,136.929993,20196400,136.929993
1,2017-02-24,135.910004,136.660004,135.279999,136.660004,21690900,136.660004
2,2017-02-23,137.380005,137.479996,136.300003,136.529999,20704100,136.529999
3,2017-02-22,136.429993,137.119995,136.110001,137.110001,20745300,137.110001
4,2017-02-21,136.229996,136.750000,135.979996,136.699997,24265100,136.699997